<h2>RSVP</h2>

<p>You can enter your RSVP number (written on your invitation) below to
rsvp. You may also call Chris (phone number on the invitation) to RSVP as
well. Thanks!</p>

<% if flash[:error] %>
  <p><strong>Error</strong>: <%= flash[:error] %></p>
  <% flash.discard %>
<% end %>

<% form_tag rsvp_index_url do |form| %>
  <p>
    <%= text_field_tag :key %>
    <%= submit_tag 'Lookup RSVP' %>
  </p>
<% end %>
