<h2>Chris &amp; Caitlin</h2>
<p>How we met (from Caitlin's point of view):</p>

<p>It was my second day of college.  I had just moved in to my dorm with my good
friend Roxy from high school and was looking for things to do until classes started.</p>

<p>I met a girl named Nicole while at orientation for UMass, and she had already
been at UMass for a few weeks now because of band.  She got in touch with me and
asked if I would like to meet her and some of her friends from band and go to the
mall, grab a bite to eat, and watch a movie.</p>

<p>I met up with her near my dorm and she introduced me to her two friends - Rachel
and Chris (yes, that Chris!)  We went to the mall, grabbed a bite to eat, and then
headed back to Nicole's tiny dorm room to watch a movie (Chris was making us all
watch Hedwig).</p>

<p>At some point just before the movie (I don't even remember why), I mentioned
that I like to play Warcraft III.  After the movie he asked if I would play it
with him.  I hadn't ever played online before so he helped me get set up and then
he promptly beat me at the game two or three times in a row (this was a trend that
unfortunately for him was short lived :D)  The rest is history!</p>

<h3>Caitlin</h3>

<p>Caitlin grew up in western Massachusetts; specifically Lenox Dale.  She lived
there in the same house for all of her life surrounded by lots and lots of animals.
At the highest point we had about 10 cats and 3 dogs.  After moving to Boston, she
brought along her dog Sadie and one of her cats, Lily, with her.</p>

<p>Caitlin went to UMass having no idea what she wanted to do with her future,
though when she was little she had always wanted to be a veterinarian.  In her
sophomore year at school, Chris told her about a 3D modeling course he was going
to take in the Comp Sci department.  Caitlin became interested and eventually
ended up joining the BDIC (Bachelor's Degree with an Individual Concentration)
program and created her own major, Computer Graphics &amp; Design.</p>

<p>Caitlin's first job out of college was at the Christian Science Monitor, editing
their front page HTML by hand.  So every time a new story was published, Caitlin was
in there editing the page to add the story, image, audio file, and linking to it. Her
job description changed a lot over her time there (of almost two years) and she
also ended up working on their new WordPress sites and many other things.</p>

<p>In less than a week from the day she is writing this, Caitlin will be changing
jobs to being a front end web developer position for Berklee College of Music's
online school. SheI'll be working in a different department from Chris, but we'll
be sitting only a cubicle apart from each other!</p>

<h3>Chris</h3>

<p>Chris grew up in Hartford CT until 6th grade when he moved to Columbia CT
with his parents. During school he was heavily involved in music whether it was
high school marching band or his own personal rock band that he started with
some friends. While considering a musical career he decided to pursue his other
love in college: computers!</p>

<p>Once arriving at UMass (and meeting Caitlin very early on as it says above),
Chris got started immediately on his Computer Science Degree. He graduated with
his undergraduate degree after 3 years and decided to stay at UMass for two more
years to get his Master's. This worked out perfectly and once they both
graduated they moved out to Boston.</p>

<p>Chris applied to Berklee College of Music for a programming position before
graduating and was extremely lucky that Berklee decided to hire him knowing that
he couldn't start for 3 months. Turns out this was a dream job since he is now
surrounded by really smart people that are all interested in music and amazing
at their individual jobs. It's a great place to work and Chris is thrilled that
by the time their married they will have been working at the same office for 4
months!</p>


