<h2>Location</h2>

<h3>Ceremony</h3>

<img src="/images/whiteholme.jpg" alt="Whiteholme Cottage" style="padding-left: 20px;" />

<ul>
  <li>Location: Whiteholme Cottage</li>
  <li>Address: 3 Whiteholme Rd, Lee, MA 01238</li>
  <li>Date: August 2, 2014</li>
  <li>Time: 1:00pm</li>
</ul>

<h4>Directions to Whiteholme Cottage</h4>


<p><strong>Coming from the South<br/>
  From MA Pike:</strong></p>

<ol>
  <li>Continue north on rt 7E/20W (Housatonic Street)</li>
  <li>Turn right onto Orchard</li>
  <li>Bear left at the T intersection and continue on Orchard</li>
  <li>Whiteholme will be on your right</li>
  <li>For Parking - Continue to St. Mary's School on the left and walk back to the house</li>
</ol>

<p><strong>Coming from Pittsfield</strong></p>
<ol>
  <li>Head south on Rt 7S/20E for 10 miles</li>
  <li>Turn right on Main St. Lee (20 E) .4 miles</li>
  <li>Turn left onto Park St (20E) 0.05 mi</li>
  <li>Take 1st left onto Orchard St. Orchard is almost straight from Park St at the Housatonic St Intersection (Berkshire Bank on right on the corner)</li>
  <li>Bear left at the T</li>
  <li>Whiteholme Rd will be a sharp right just after the next corner - second house on the left.</li>
  <li>For Parking - Guests may continue past Whiteholme and park at St. Mary's School on the left and walk back to the house.</li>
</ul>


<h3>Reception</h3>

<ul>
  <li>Location: <a href="https://www.facebook.com/pages/Fiddleheads-Grille-Inc-at-Greenock-Country-Club/357238321082335">Fiddleheads Grille</a> @ Greenock Country Club</li>
  <li>Address: West Park Street, Lee, Massachusetts 01238</li>
  <li>Time: Following Ceremony, approximately 1:30pm</li>
</ul>

<h4>Directions to Fiddleheads Grille</h4>

<ol>
  <li>Leave St. Mary's, turn right onto Orchard</li>
  <li>Continue on Orchard back to Housatonic St.</li>
  <li>At stop sign continue straight onto Park St.</li>
  <li>Berkshire Bank will be on your left. Continue to stop sign.</li>
  <li>When safe to continue go straight onto West Park. Lee Bank will be on the left.</li>
  <li>Continue straight</li>
  <li>Greenock will be about half a mile on the right side.</li>
</ol>