<h2>Location</h2>

<h3>Ceremony</h3>

<img src="/images/whiteholme.jpg" alt="Whiteholme Cottage" style="padding-left: 20px;" />

<ul>
  <li>Location: Whiteholme Cottage</li>
  <li>Address: 3 Whiteholme Rd, Lee, MA 01238</li>
  <li>Date: August 2, 2014</li>
  <li>Time: 1:00pm</li>
</ul>

<h3>Reception</h3>

<ul>
  <li>Location: <a href="https://www.facebook.com/pages/Fiddleheads-Grille-Inc-at-Greenock-Country-Club/357238321082335">Fiddleheads Grille</a> @ Greenock Country Club</li>
  <li>Address: West Park Street, Lee, Massachusetts 01238</li>
  <li>Time: Following Ceremony, approximately 1:30pm</li>
</ul>