<h2>Registries</h2>
<p>We are currently registered at Bed Bath &amp; Beyond and Amazon.com.  If you buy any items from another store, please make sure you can either contact the company to adjust the list appropriately, or let Chris or Caitlin know so they can adjust the registry manually, so we don't end up with extras.</p>

<p>We do plan on adding an additional registry place, so please do not make any purchases just yet :)</p>

<p><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&sort=category-wed&type=wedding&id=2R2FEFXSXBJBM&visitor-view=1">Amazon Registry</a></p>
<p><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?order_num=-1&wrn=-213703489&">Bed Bath &amp; Beyond Registry</a></p>