<h2>Registries</h2>
<ul>
  <li><a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541407510&pwsurl=">Bed Bath and Beyond</a></li>
  <li><a href="http://www.amazon.com/registry/wedding/2F93WWSAFU8QT">Amazon</a></li>
  <li><a href="http://www.target.com/RegistryGiftGiverCmd?isPreview=false&status=completePageLink&listId=Vmyb53msk32E2o4DzCmAFA&registryType=WD&cumulativeTime=-1&isAjax=false&noOfPings=">Target</a></li>
</ul>