<h2>Registries</h2>
<p>We are currently registered at Bed Bath &amp; Beyond, Amazon.com, and Target.  Please let Chris or Caitlin know if we need to manually adjust any of the registries.</p>

<p><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&sort=category-wed&type=wedding&id=2R2FEFXSXBJBM&visitor-view=1">Amazon Registry</a></p>
<p><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?order_num=-1&wrn=-213703489&">Bed Bath &amp; Beyond Registry</a></p>
<p><a href="https://www.target.com/registry/wedding/1NBT1G3E1PMUY/">Target</a></p>