<h2>The Wedding</h2>
<h3>Details</h3>
<ul>
  <li>Location: <%= link_to 'Whiteholme Cottage', location_url %></li>
  <li>Date: August 2, 2014</li>
  <li>Time: 1pm ceremony</li>
  <li>Reception: Reception follows the ceremony and will take place at <%= link_to 'Fiddleheads Grille', location_url %></li>
</ul>

<h3>Food and Drink</h3>
<p>Coming soon</p>