<h2>The Wedding</h2>
<h3>Details</h3>
<ul>
  <li>Location: <%= link_to 'Arrowhead Acres', location_url %></li>
  <li>Date: August 29, 2009</li>
  <li>Time: 11am ceremony followed immediately by reception, until 4pm</li>
</ul>

<p>The wedding will be taking place at <%= link_to 'Arrowhead Acres', location_url %>.
Both the ceremony and the reception will be here.  The ceremony will be outdoors, then everyone
will go indoors for the reception.</p>

<h3>Food and Drink</h3>
<p><a href="http://holysmokesbbq.com/">Holy Smokes</a> will be catering our wedding.
The food will be buffet style so there is no need to choose a meat when you RSVP.
There will be vegetarian options available.</p>
<p>Our wedding will be alcohol free!  There will be plenty of other beverages available though,
such as water, soda, southern style sweet tea, and lemonade.</p>