<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<xhtml>
  <head>
    <title>Chris and Cait - Wedding Site</title>
  </head>
  <body>
    <%= yield %>
  </body>
</xhtml>
